# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C / LLVM build artifacts
*.o
*.obj
*.exe
experiments/artifacts/
experiments/predictions/

# Environments
.env
.venv
env/
venv/
ENV/

# OS files
.DS_Store
Thumbs.db
